<ul class="list">
    <li class="story" *ngFor="let storyItem of StoryList">
        <div class="story_title">
            {{ storyItem.id }}
        </div>
        <div class="story_title">
            {{ storyItem.title }}
        </div>
        <div class="story_title">
            {{ storyItem.description }}
        </div>
        <div class="story_title">
            {{ storyItem.authorName }}
        </div>
        <div class="story_title">
            {{ storyItem.ageLimit }}
        </div>
        <div class="story_title">
            {{ storyItem.imagePreview }}
        </div>
        <div class="story_title">
            {{ storyItem.datePublished }}
        </div>
        <div class="story_title">
            {{ storyItem.dateWritten }}
        </div>
    </li>
</ul>