.headerbar {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin-bottom: 5%;
}

.searchbar {
    border-radius: 30px;
    border-style: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    min-width: 30%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: #fff;
    background-color: #2D2D44;
}

.header-login-link {
    position: absolute;
    right: 5%;
}

.login-link {
    background-color: rgba(0, 0, 10, 0.2);
    color: white;
    font-size: 1.5em;
}

.home-link {
    background-color: rgba(0, 0, 10, 0.2);
    color: white;
    font-size: 1.5em;

    position: absolute;
    left: 5%;
}