.headerbar {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    margin-bottom: 1%;
}

.searchbar {
    border-radius: 30px;
    border-style: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    min-width: 30%;
]
    color: #fff;
    background-color: #2D2D44;
}

.header-login-link {
}

.login-link {
    background-color: rgba(0, 0, 10, 0.2);
    color: white;
    font-size: 1.5em;
}

.home-link {
    background-color: rgba(0, 0, 10, 0.2);
    color: white;
    font-size: 1.5em;
}