<div class="error" *ngIf="errorMessage.length > 0">
    <p>{{ errorMessage }}</p>
</div>

<div class="signin">
    <div class="login" *ngIf="isLoginState">
        <form [formGroup]="formlogin" autocomplete='off' class='form' (submit)="logIn()">
            <div class='control'>
                <h1>
                    Log in
                </h1>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="username" name='username' placeholder='Username' type='text' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="password" name='password' placeholder='Password' type='password' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <button class='btn block-cube block-cube-hover' type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Log In
                </div>
            </button>
            <br>
            <button class='btn block-cube block-cube-hover' type='button' (click)="changeState(false)">
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    I need an account
                </div>
            </button>
        </form>
    </div>

    <div class="signup" *ngIf="!isLoginState">
        <form [formGroup]="formregister" autocomplete='off' class='form' (submit)="signUp()">
            <div class='control'>
                <h1>
                    Sign up
                </h1>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="username" name='username' placeholder='Username' type='text' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="password" name='password' placeholder='Password' type='password' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="email" name='email' placeholder='Email' type='text' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="dob" name='dob' value="2021-01-01" type='date' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <button class='btn block-cube block-cube-hover' type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Sign Up
                </div>
            </button>
            <br>
            <button class='btn block-cube block-cube-hover' type='button' (click)="changeState(true)">
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    I have an account
                </div>
            </button>
        </form>
    </div>
</div>