<app-headerbar></app-headerbar>

<div class="loading" *ngIf="IsLoading">
    <div class="lds-grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="error" *ngIf="errorMessage.length > 0">
    <p>{{ errorMessage }}</p>
</div>

<div class="errorpage" *ngIf="IsError && !IsLoading">
    Something went wrong... Try to <a href="/login">log in</a> again, please.
</div>

<section class="userdatasection" *ngIf="!IsError && !IsLoading">
    <div class="userdata">Username: {{ User.username }}</div>
    <div class="userdata">Email: {{ User.email }}</div>
    <div class="userdata">Age: {{ User.age }}</div>
    <div class="userdata">Account Created: {{ User.accountCreated }}</div>
    <div class="userdata">Total Reads (People read you): {{ User.totalReads }}</div>
    <div class="userdata">Total Stories: {{ User.totalStories }}</div>
    <div class="userdata">Average Score: {{ User.averageScore }}</div>
    <br>

    <div class="userdata">
        <form [formGroup]="formuserdata" autocomplete='off' class='form' (submit)="updateUserData()">
            <div class='control block-cube block-input'>
                <input formControlName="email" name='email' placeholder='Email' type='text' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="dob" name='dob' value="2000-01-01" type='date' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <button class='btn block-cube block-cube-hover' type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Update Profile Data
                </div>
            </button>
        </form>
    </div>
    <br>
    <div class="userdata">
        <form [formGroup]="formupdatepassword" autocomplete='off' class='form' (submit)="updatePassword()">
            <div class='control block-cube block-input'>
                <input formControlName="oldPassword" name='oldPassword' placeholder='Current Password' type='text' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="newPassword" name='newPassword' placeholder='New Password' type='text' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <button class='btn block-cube block-cube-hover' type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Update Password
                </div>
            </button>
        </form>
    </div>
</section>