<header class="headerbar mt-3">
    <a href="/" class="home-link">Home</a>
    <input id="searchBar" type="text" class="searchbar" placeholder="Search"
        (keyup.enter)="redirectToSearchPage($event)" [ngModel]="searchBarValue">

    <span class="high-index">
        <a href="/publish" class="header-link header-publish-link" *ngIf="isPublisher">Publish</a>

        <button (click)="becomePub()" class="header-link header-publish-link"
         *ngIf="isLoggedIn && !isPublisher">Become Publisher</button><br>

        <a href="/profile" class="header-link header-profile-link" *ngIf="isLoggedIn">Profile</a><br>
        <a href="/history" class="header-link header-profile-link" *ngIf="isLoggedIn">History</a><br>
        <a href="/bookmarks" class="header-link header-profile-link" *ngIf="isLoggedIn">Bookmarks</a><br>
        <a href="/logout" class="header-link header-logout-link" *ngIf="isLoggedIn">Log Out</a>

        <a href="/login" class="header-link header-login-link" *ngIf="!isLoggedIn">Log In</a>
    </span>
</header>