<app-headerbar></app-headerbar>

<div class="container">
    <div class="error" *ngIf="errorMessage.length > 0">
        <p>{{ errorMessage }}</p>
    </div>

    <section class="publish-story-section">
        <form [formGroup]="publishstory" autocomplete='off' class='form' (submit)="publishStory()">
            <div class='control'>
                <h1>
                    Publish a story
                </h1>
            </div>
            <div class='control block-cube block-input'>
                <input formControlName="title" name='title' placeholder='Title' type='title' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                <input formControlName="description" name='description' placeholder='Description' type='description' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                <input formControlName="authorname" name='authorname' placeholder='Author' type='authorname' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner bg-efefef'></div>
                </div>
                <div class="genre-block">
                    <span class="genre-title">Genre</span>
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedValue" name="genre" multiple [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let genre of genres" [value]="genre.id">
                                {{genre.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- <div class='control block-cube block-input'>
                <input formControlName="genreid" name='genreid' placeholder='Genre' type='genreid' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div> -->

            <div class='control block-cube block-input'>
                <input formControlName="agelimit" name='agelimit' placeholder='Age Limit' type='agelimit' required>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <button class='btn block-cube block-cube-hover' type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Publish
                </div>
            </button>
            <br>
            <button class='btn block-cube block-cube-red block-cube-hover' type='button' (click)="cancel()">
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Cancel
                </div>
            </button>
        </form>
    </section>
</div>