<app-headerbar></app-headerbar>

<section class="home-section">
    <h1 class="text-center">My bookmarks</h1>
</section>
<ul class="story-list">
    <li class="story-list_item" *ngFor="let storyItem of StoryList">
        <a href="/story/info/{{storyItem.id}}" class="story">

            <div class="story_header">
                <img src="data:image/png;base64,{{ storyItem.imagePreview }}" alt="story preview" class="story_header_background">
                <div class="author">
                    <div class="author_preview">
                    </div>
                    <div class="author_name">
                        {{ storyItem.authorName }}
                    </div>
                </div>
            </div>
            <div class="story_footer">
                <h3 class="story_title">
                    {{ storyItem.title }}
                </h3>
                <p class="story_description">
                    {{ storyItem.description }}
                </p>
            </div>
        </a>
        <button mat-icon-button color="primary" class="edit-story" (click)="bookmark(storyItem.id)">
            <mat-icon>favorite</mat-icon>
        </button>
    </li>
</ul>