<app-headerbar></app-headerbar>

<!-- By Genre thing goes here -->
<section class="home-section">
    <h1 class="text-center">By genre</h1>
</section>
<section class="genrelist">
    <div class="genre">
        <div class="genre_preview">
            <img src="https://i.ytimg.com/vi/NGleyyNc5-k/maxresdefault.jpg" alt="scary_building">
        </div>
        <div class="genre_title">
            Some title of the genre
        </div>
    </div>

    <div class="genre">
        <div class="genre_preview">
            <img src="https://i.ytimg.com/vi/NGleyyNc5-k/maxresdefault.jpg" alt="scary_building">
        </div>
        <div class="genre_title">
            Some title of the genre
        </div>
    </div>

    <div class="genre">
        <div class="genre_preview">
            <img src="https://i.ytimg.com/vi/NGleyyNc5-k/maxresdefault.jpg" alt="scary_building">
        </div>
        <div class="genre_title">
            Some title of the genre
        </div>
    </div>
</section>

<!-- Best to read goes here -->
<section class="home-section">
    <h1 class="text-center">Best to read</h1>
</section>
<app-show-story></app-show-story>