<app-headerbar></app-headerbar>

<section class="home-section">
</section>
<section class="genrelist">
    <ul class="genre-list">
        <li class="genre-list_item" *ngFor="let genreItem of GenreList">
            <a href="story/search/all?g={{genreItem.name}}" class="genre">
                <!-- <div class="genre_header">
                    <img src="data:image/png;base64,{{ genreItem.imagePreview }}" alt="genre preview"
                        class="genre_header_background">
                </div> -->
                <div class="genre_footer">
                    <h3 class="genre_name">
                        {{ genreItem.name }}
                    </h3>
                </div>
            </a>
        </li>
    </ul>
</section>

<!-- Best to read goes here -->
<section class="home-section">
</section>
<app-show-story></app-show-story>